<form name="requestArtwork">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="name"
               name="name" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="email"
               name="email" />
    </div>
    <div class="form-group">
        <label for="organization">Organization</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="organization"
               name="organization" />
    </div>
    <div class="form-group">
        <label for="designSpecification">Design Specification</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="designSpecification"
               name="designSpecification" />
    </div>
</form>





<!--
<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title> Send your Order to Us </title>

&lt;!&ndash; Scripts &ndash;&gt;
    &lt;!&ndash; TODO: switch to minified versions on production &ndash;&gt;
    &lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>&ndash;&gt;
    <script src="../scripts/angular.js"></script>
    &lt;!&ndash;<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>&ndash;&gt;
    <script src="../scripts/jquery.js"></script>
    &lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>&ndash;&gt;
    <script src="../scripts/materialize.js"></script>
    <script src="../scripts/main.js"></script>
    &lt;!&ndash; Stylesheets &ndash;&gt;
    &lt;!&ndash;<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">&ndash;&gt;
    <link rel="stylesheet" href="../stylesheets/materialize.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
    <div class="container white">
        <form class="container main" name="orderForm" ng-submit="submit(orderForm.$valid)" novalidate="novalidate">
            <div class="input-field">
                <input id="name" type="text" class="validate" ng-model="orderForm.name"
                       ng-required="true">
                <label for="name"> Name </label>
            </div>
            <div class="input-field">
                <input id="email" type="email" class="validate" ng-model="orderForm.emailAdd">
                <label for="email"> Contact Email </label>
            </div>
            <div class="input-field">
                <input id="org" type="text" class="validate" ng-model="orderForm.org">
                <label for="org"> Organization </label>
            </div>
            <div class="input-field">
                <textarea placeholder="Please include all details of your design..." id="spec" type="text"
                          ng-model="orderForm.designSpec" class="validate materialize-textarea"></textarea>
                <label for="spec"> Design Specification </label>
            </div>
            <button class="btn" type="submit"> Submit </button>
            <button class="btn" type="reset"> Reset </button>
        </form>
    </div>
</body>
</html>-->
