<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>CreateProcess</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.CreateProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProcess</servlet-name>
		<url-pattern>/create-process</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateRequest</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.CreateRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
  		<servlet-name>CreateRequest</servlet-name>
  		<url-pattern>/createRequest.do</url-pattern>
 	</servlet-mapping>
	<servlet>
		<servlet-name>ContinueProcess</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.ContinueProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess</servlet-name>
		<url-pattern>/continue-process</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContinueProcess2</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.ContinueProcessServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess2</servlet-name>
		<url-pattern>/continue-process2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContinueProcess3</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.ContinueProcessServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess3</servlet-name>
		<url-pattern>/continue-process3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContinueProcess4</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.ContinueProcessServlet4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess4</servlet-name>
		<url-pattern>/continue-process4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContinueProcess5</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.ContinueProcessServlet5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess5</servlet-name>
		<url-pattern>/continue-process5</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ContinueProcess6</servlet-name>
		<servlet-class>org.camunda.bpm.pinkblob.servlet.ContinueProcessServlet6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess6</servlet-name>
		<url-pattern>/continue-process6</url-pattern>
	</servlet-mapping>
</web-app>